In [1]:
i=1
print(i)

1

In [2]:
type(i)

int

In [3]:
i='h'

In [4]:
type(i)

str

In [5]:
name=input('whats ur name')

whats ur nameraunak

In [6]:
print(name)

raunak

In [7]:
type(name)

str

In [13]:
##typeCasting req as normally the input function gives back only string
age=int(input('enter age'))

enter age23

In [14]:
type(age)

int

# LISTS
Lists are mutable, elements can be changed inside it,
Created using square brackets

In [18]:
mylist=[1,2,3,4,5]

In [19]:
print(mylist)

[1, 2, 3, 4, 5]

In [20]:
mylist=[1,2,0,0,0]
print(mylist)

[1, 2, 0, 0, 0]

In [21]:
list1=[1,2,3,4,5]
list2=[]

for i in list1:
    list2.append(i**2)
print(list2)

[1, 4, 9, 16, 25]

In [24]:
##List comprehension(used to manipulate elements in 2 lists)
list2=[i**2 for i in list1]

In [25]:
list2

[1, 4, 9, 16, 25]

In [26]:
list3=[1,"abc",True,24.5,[1,2,3,4]]
print(len(list3))

5

# TUPLES
Created using curve brackets
These are read-only(immutable), the values cant be changed in them
These are used for sensitive data(salaries of employees being an example), we want to keep value of pi is another example
Tuples are faster than lists as their purpose is only read only

In [27]:
tup1=(1,2,3,"hrllo")

In [28]:
type(tup1)

tuple

# SETS
set contains unique elements,
its mutable
its unordered(cant find first and last element of set)
created using {} brackets

In [29]:
set1={1,2,3,4,5,2,3}
print(set1)
#see all duplicate elements are removed

{1, 2, 3, 4, 5}

In [30]:
set1.add(90)

In [31]:
print(set1)

{1, 2, 3, 4, 5, 90}

# DICTIONARY
data is stored in key-value pairs,
they cant be indexed like we do in arrays,
rewriting keys/values is also possible

In [3]:
players={
    "kohli":27,
    "smith":23,
    "williamson":"nz",}
print(players)

{'kohli': 27, 'smith': 23, 'williamson': 'nz'}

In [5]:
#accessing elements in dictionary
print(players["kohli"])

27

In [6]:
#add new element to dictionary
players['sharma']=27

In [7]:
print(players)

{'kohli': 27, 'smith': 23, 'williamson': 'nz', 'sharma': 27}

In [10]:
#delete key-value pair in dictionary
players.pop('kohli')

KeyError: 'kohli'

In [9]:
print(players)

{'smith': 23, 'williamson': 'nz', 'sharma': 27}

# FUNCTIONS

In [14]:
def morning(name):
    print("hey"+name)

In [15]:
morning('hello')

heyhello